# Practice Session 1.5

In [1]:
rm(list=ls())

### 1.Perform the following operations on the "AirPassengers" dataset in R

In [2]:
airpass <- AirPassengers

cat("\n The class of the \"AirPassengers\" dataset object is ==> ", class(airpass), ", i.e. a Time Series")

print(" We can perform the culumative, aggregate and various statistical functions on this data")
print(" like... ")

cat("\n a. Mean ==> ", mean(airpass))
cat("\n b. Std. Dev. ==> ", sd(airpass))
cat("\n c. Qunatile ==> ")
quantile(airpass)
cat("\n d. Length of the dataset == >", length(AirPassengers), " observations")
cat("\n e. Range of the dataset == >", range(AirPassengers))

 The class of the "AirPassengers" dataset object is ==>  ts , i.e. a Time Series[1] " We can perform the culumative, aggregate and various statistical functions on this data"
[1] " like... "

 a. Mean ==>  280.2986
 b. Std. Dev. ==>  119.9663
 c. Qunatile ==>

   0%   25%   50%   75%  100%
104.0 180.0 265.5 360.5 622.0

 d. Length of the dataset == > 144  observations
 e. Range of the dataset == > 104 622

### 2.Perform the following operations on the "airquality" dataset in R

In [3]:
airqual <- airquality

cat("\n The class of the \"airquality\" dataset object is ==> ", class(airquality))

cat("\na. The names of the headers in the dataset == ")
colnames(airqual)

cat("\nb. The mean of each column in the dataset ==>")
summary(airquality, na.rm = T)[4,]

cat("\nc. Total NAs in the dataset ==",sum(is.na(airqual)) , " and column wise count of NAs ==>")
colSums(sapply(airqual, is.na))

cat("\nd. The dataset summary == >")
summary(airquality)

cat("\ne. Month converted to factor class and the summary changes ==>")
levels(as.factor(airquality$Month))
airqual$Month <- as.factor(airqual$Month)
summary(airqual$Month)

 The class of the "airquality" dataset object is ==>  data.frame
a. The names of the headers in the dataset ==

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

b. The mean of each column in the dataset ==>

             Ozone            Solar.R               Wind               Temp
"Mean   : 42.13  "  "Mean   :185.9  " "Mean   : 9.958  "  "Mean   :77.88  "
             Month                Day
 "Mean   :6.993  "   "Mean   :15.8  "

c. Total NAs in the dataset == 44  and column wise count of NAs ==>

  Ozone Solar.R    Wind    Temp   Month     Day
     37       7       0       0       0       0

d. The dataset summary == >

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

e. Month converted to factor class and the summary changes ==>

[1] "5" "6" "7" "8" "9"

 5  6  7  8  9
31 30 31 31 30