# Practice Session 1.6

In [14]:
rm(list = ls())

### 1. Create data Frame df using below vectors
numvec = c(2, 5, 8, 9, 0, 6, 7, 8, 4, 5, 7, 11)

charvec = c("David", "James", "Sara", "Tim", "Pierre", "Janice", "Sara", "Priya", "Keith", "Mark", "Apple", "Sara")

gender = c("M","M","F","M","M","M","F","F","F","M","M","F")

state = c("CO","KS","CA","IA","MO","FL","CA","CO","FL","CA","WY","AZ")

In [15]:
numvec = c(2, 5, 8, 9, 0, 6, 7, 8, 4, 5, 7, 11)
charvec = c("David", "James", "Sara", "Tim", "Pierre", "Janice", "Sara", "Priya", "Keith", "Mark", "Apple", "Sara")
gender = c("M","M","F","M","M","M","F","F","F","M","M","F")
state = c("CO","KS","CA","IA","MO","FL","CA","CO","FL","CA","WY","AZ")

In [16]:
cat(
  " Create data Frame df using below vectors: \n\n A ", class(numvec), "vector (ID), with values as == ", numvec, "\n A ", class(charvec), "vector (name), with values as == ", charvec,"\n A ", class(gender), "vector (gender), with values as == ", gender, "\n A ", class(state), "vector (state), with values as == ", state
)

 Create data Frame df using below vectors:

 A  numeric vector (ID), with values as ==  2 5 8 9 0 6 7 8 4 5 7 11
 A  character vector (name), with values as ==  David James Sara Tim Pierre Janice Sara Priya Keith Mark Apple Sara
 A  character vector (gender), with values as ==  M M F M M M F F F M M F
 A  character vector (state), with values as ==  CO KS CA IA MO FL CA CO FL CA WY AZ

### Creating the data frame using data.frame(), along with correct heading

In [17]:
df <- data.frame(ID = (numvec),name = (charvec),gender,state)
cat("The newly formed data frame \"df\" is ==>")
df

The newly formed data frame "df" is ==>

   ID   name gender state
1   2  David      M    CO
2   5  James      M    KS
3   8   Sara      F    CA
4   9    Tim      M    IA
5   0 Pierre      M    MO
6   6 Janice      M    FL
7   7   Sara      F    CA
8   8  Priya      F    CO
9   4  Keith      F    FL
10  5   Mark      M    CA
11  7  Apple      M    WY
12 11   Sara      F    AZ

### Subsetting the Data frame

In [18]:
cat("a. Subset the data frame where the ID < 5 -- ")
df[numvec < 5,]

cat("b. Subset the data frame where the name is \"Sara\" -- ")
df[charvec == "Sara",]

cat("c. Displaying (names and state) for Id =5 -- ")
df[numvec == 5,c("name","state")]

cat("d. Display observations which are not Sara, and are female with IDs > 5 -- ")
df[numvec > 5 & charvec != "Sara" & gender == "F",]

a. Subset the data frame where the ID < 5 --

  ID   name gender state
1  2  David      M    CO
5  0 Pierre      M    MO
9  4  Keith      F    FL

b. Subset the data frame where the name is "Sara" --

   ID name gender state
3   8 Sara      F    CA
7   7 Sara      F    CA
12 11 Sara      F    AZ

c. Displaying (names and state) for Id =5 --

    name state
2  James    KS
10  Mark    CA

d. Display observations which are not Sara, and are female with IDs > 5 --

  ID  name gender state
8  8 Priya      F    CO

In [26]:
rm(list = ls())

### 2. Create a data frame (df2) from a text file.

In [27]:
df2 <- read.delim("/home/hduser/Documents/myR/DF2_data.txt")
print("The Data frame in text file is as --")
df2

[1] "The Data frame in text file is as --"

   ID Gender Age
1   1      m  22
2   2      f  35
3   3      m  43
4   4      f  52
5   5      m  58
6   6      f  23
7   7      m  36
8   8      f  46
9   9      m  39
10 10      f  31

#### a. Add the coffeecups vector

In [28]:
coffeecups <- c(3,1,2,5,0,2,0,1,3,2)
df2 <- cbind(df2,coffeecups)
df2

   ID Gender Age coffeecups
1   1      m  22          3
2   2      f  35          1
3   3      m  43          2
4   4      f  52          5
5   5      m  58          0
6   6      f  23          2
7   7      m  36          0
8   8      f  46          1
9   9      m  39          3
10 10      f  31          2

#### b. Add new entry

In [29]:
df2[nrow(df2) + 1,] <-  c('11',"m",28,4)
print("The Data frame with new record added at the end --")
df2

[1] "The Data frame with new record added at the end --"

   ID Gender Age coffeecups
1   1      m  22          3
2   2      f  35          1
3   3      m  43          2
4   4      f  52          5
5   5      m  58          0
6   6      f  23          2
7   7      m  36          0
8   8      f  46          1
9   9      m  39          3
10 10      f  31          2
11 11      m  28          4

#### c. Subset the data frame with only the 2nd column

In [30]:
df2[,2]

 [1] m f m f m f m f m f m
Levels: f m

#### d. Subset rows (1,3,8) from the data frame

In [31]:
 df2[c(1,3,8),]

  ID Gender Age coffeecups
1  1      m  22          3
3  3      m  43          2
8  8      f  46          1